name: Monitor de Chamados

concurrency:
  group: monitor-de-chamados
  cancel-in-progress: false

on:
  schedule:
    - cron: "*/5 18-23 * * *" # 15h-23h no hor치rio de Bras칤lia (UTC+3)
    - cron: "*/5 0-2 * * *"   # 21h-23h no hor치rio de Bras칤lia (UTC+3)
  workflow_dispatch: # permite rodar manualmente

jobs:
  monitor-chamados:
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Clonar reposit칩rio
        uses: actions/checkout@v3

      - name: 游닍 Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: 游늭 Instalar depend칡ncias
        run: npm install

      - name: 游 Rodar monitor principal
        run: node monitor/principal.js
        env:
          MS_USER: ${{ secrets.MS_USER }}
          MS_PASS: ${{ secrets.MS_PASS }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}

  monitor-sla:
    runs-on: ubuntu-latest
    needs: monitor   # s칩 executa se o "monitor" terminar com sucesso
    steps:
      - name: 游닌 Clonar reposit칩rio
        uses: actions/checkout@v3

      - name: 游닍 Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: 游늭 Instalar depend칡ncias
        run: npm install

      - name: 游뚿 Rodar monitor de SLA
        run: node monitor/monitor-sla.js
        env:
          MS_USER: ${{ secrets.MS_USER }}
          MS_PASS: ${{ secrets.MS_PASS }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
